* {
  margin: 0;
  border: 0;
}
body {
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cont,
.cont2,
.cont3-f {
  background-image: url(img/slanted-gradient.svg);
  background-size: cover;
}

.menu {
  width: 100%;
  height: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: black;
  font-size: 1.3rem;
}

.menu nav ul {
  display: flex;
  list-style: none;
}

.menu nav ul li a {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 18px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.menu nav ul li a:hover {
  background-color: darkred;
  transition: all ease 0.8s;
}

.cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.cont2,
.cont3 {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.cont3 {
  height: 100vh;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
  margin-left: 50px;
  margin-right: 50px;
  color: darkred;
  background-color: #ececf1;
}

img {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bot {
  display: flex;
  flex-direction: row;
}

#calc,
#volt,
#import {
  background: red;
  color: white;
  border-style: outset;
  border-color: red;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  font: bold 20px arial, sans-serif;
  text-shadow: none;
}

#import {
  background-color: darkblue;
  margin-left: 10px;
}

#volt {
  background: darkorange;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  text-align: center;
}

#titulo {
  font-size: 3rem;
  margin-bottom: 10px;
}

table {
  text-align: center;
  flex-wrap: wrap;
  border-collapse: collapse;
}

caption {
  background-color: darkred;
  font-size: 2.5rem;
  border: 2px solid black;
}

th,
td {
  width: 250px;
  border: 2px solid red;
  background-color: black;
}

td {
  background-color: darkred;
  border: 2px solid black;
}

@media (min-width: 600px) and (max-width: 1279px) {
  .cont,
  .cont2 {
    font-size: 1.5rem;
  }
  .cont3 {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (min-width: 425px) and (max-width: 599px) {
  .cont,
  .cont2 {
    font-size: 1.4rem;
  }
  .cont3 {
    font-size: 1.2rem;
    text-align: center;
  }
  img {
    width: 250px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .cont,
  .cont2 {
    font-size: 1.2rem;
  }
  .cont3 {
    font-size: 1.1rem;
    text-align: center;
  }
  img {
    width: 150px;
  }
}
